:root {
  --text: #4a4a4a;
  --link: #5425d4;
}

body {
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, Helvetica, Arial, sans-serif;
  font-feature-settings: "palt";
  font-size: 20px;

  color: var(--text);
  line-height: 1.47;

  max-width: 768px;

  margin: 0 auto;
  margin-top: 2rem;

  padding: 0 2rem;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--link);
}
